body{
	background-image: linear-gradient( to top right, #1C313B, #552C5E);
	background-repeat: no-repeat;
	min-height: 1000px;
}


.input-group{
	margin:20px 0px;
}
.btn-Search{

}

input[type=search]{
	width: 700px;
  z-index: 1;
  border: 1px solid #BBB;
  cursor: text;
	/*border:1px solid #2a2e31;*/
}
h4.symbol{
	color:#929192;
	font-size: 16px;
	font-weight: bold;
	margin-left:10px;
	margin-top:10px;
}
h3{
	color:#E083A1;

}
.headerText{
	padding-top: 20px;
	color:#ECEEEF;
	font-size: 25px;
	text-align: center;
	font-weight: normal;
  font-family: monospace;

}
.wrapper{
	background-image:
	 linear-gradient(
		 to top right,
		 #1C313B, #2c4e5e
     );
	border:1px solid #6DD1DC;
	border-radius: 3px;
	height: 200px;
  margin-bottom: 10px;
}

.stock-last{
	font-size: 35px;
	float: left;
  color: #04D2F5;
	margin-left:15px;
}
.stock-pct{
	float: left;
	color: #D9D4D2;
	width: 100px;
	position: relative;
	bottom: -20px;
	margin-left: 10px;
}
.stock-change{
	margin-left:6px;
}

.widget{
	height: 30px;
}
.spark{
    margin-top: 40px;
    width: 200px;
    position: relative;
    left: 109px;
}
.green{
	color: #FFFFFF !important;
	background: #79C845;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.red{
	color: #FFFFFF !important;
	border-radius: 3px;
	background: #DD2645;
	padding-left: 5px;
	padding-right: 5px;
}
